.contact {
  /* height: 100vh; */
  background-color: rgb(202, 108, 108);

  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 40px;
  background-image: url("/img/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 70%; */
}

.contact h1 {
  text-align: center;
  color: #ffbea0;
  line-height: 45px;
  letter-spacing: 3px;
}

.innerform {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;

}

.html_form label {
  font-size: 25.2px;
  line-height: 50px;
  font-weight: 400;
  color: #ffa746;
}

.html_form input[type="text"],
.html_form input[type="email"] {
  font-size: 22.4px;
  height: 18px;
  padding: 15.2px 15.8px;
  width: 277px;
  /* height: 34px; */
  border: 1px solid #cd2424;
  border-radius: 45px;
  background: #ffecba;
  font-weight: 400;
}

.html_form textarea {
  font-size: 22.4px;
  font-weight: 400;
  padding: 15.8px;
  width: 43rem;
  height: 150px;
  border: 1px solid #cd2424;
  border-radius: 25px;
  /* margin-bottom: 1px; */
  background: #fff3d4;
}

.per_info {
  display: flex;
  gap: 87px;
  width: 100%;
}

.my_btn {
  display: block;
  padding: 9px 25px;
  font-size: 2rem;
  width: 22rem;
  border-radius: 9999px;
  text-decoration: none;
  text-align: center;
  border: 0px solid #fc9900;
  color: white;
  margin: 39px;

  font-weight: 500;
  background-color: white;

  /* height: 52px; */
  background-color: #d30c53;
}

.my_btn:hover {
  cursor: pointer;
  /* border: 2px solid #fe0000; */
  color: white;
  background-color: #ff025b;
}

.name{
    display: flex;
    gap: 9.6px;
    flex-direction: column;
    font-weight: 400;
}
.email{
    display: flex;
    gap: 9.6px;
    flex-direction: column;
    font-weight: 400;
    
}
.msg{
    display: flex;
    gap: 9.6px;
    flex-direction: column;
    font-weight: 400;
}



@media only screen and (min-width: 1024px) {
  .contact h1 {
    font-size: 2rem;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 20.4px;


  }

  .html_form textarea {
    font-size: 20.4px;
  }
}

@media only screen and (max-width: 989px) {
  .contact {
    margin-top: 6.6rem;
  }
}


@media only screen and (min-width: 949px) and (max-width: 1024px) {
  .contact h1 {
    font-size: 2rem;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 20.2px;

  }

.html_form label {
  font-size: 23.2px;
  /* font-weight: 500; */

  }

  .html_form textarea {
    font-size: 20.2px;
  }
}

@media only screen and (min-width: 799px) and (max-width: 948px) {
  .contact h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 20px;

}
.html_form label {
  font-size: 22.2px;
  /* font-weight: 600; */

}

  .html_form textarea {
    font-size: 20px;
  }

}

@media only screen and (min-width: 569px) and (max-width: 798px) {
  .per_info {
    gap: 70px;
  }

  .contact h1 {
    font-size: 1.5rem;
    
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 19px;
    width: 200px;

}
.html_form label {
  font-size: 20px;
  font-weight: 500;


  }

  .html_form textarea {
    font-size: 19px;
    width: 450px;
  }

  .my_btn {
    width: 15rem;
    font-size: 28px;
  }
}


@media only screen and (min-width: 300px) and (max-width: 568px) {
  .per_info {
    gap: 20px;
  }

  .contact h1 {
    font-size: 28px;
    font-weight: 500;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 18px;
    width: 100px;

}
.html_form label {
  font-size: 20px;
  font-weight: 500;

  }

  .html_form textarea {
    font-size: 19px;
    width: 250px;
  }

  .my_btn {
    width: 12rem;
    font-size: 24px;
    font-weight: 500;
  }
}



@media only screen and (min-width: 230px) and (max-width: 300px){
  .per_info{
    gap: 16px;
  }

  .contact h1 {
    font-size: 20px;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 14px;
    width: 60px;
    height: 0px;

}
.html_form label {
  font-size: 14px;
  font-weight: 500;

  }

  .html_form textarea {
    font-size: 14px;
    width: 150px;
  }

  .my_btn {
    width: 10rem;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 17px;
  }

  .contact {
    margin-top: 3rem;
  }
}


@media only screen and (min-width: 100px) and (max-width: 230px){
  .per_info{
    gap: 14px;
    flex-direction: column;
  }

  .contact {
    margin-top: 3rem;
  }

  .contact h1 {
    font-size: 16px;
  }

  .html_form input[type="text"],
  .html_form input[type="email"] {
    font-size: 14px;
    width: 62px;
    height: 0px;

  }

  .html_form label {
    font-size: 14px;
    /* color: red; */

  }

  .html_form textarea {
    font-size: 14px;
    width: 60px;
    height: 70px;
  }

  .my_btn {
    /* height: 40px; */
    width: 90px;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 17px;
    text-align: center;
  }


}