.navbar {
    display: flex;
    box-sizing: border-box;
    background-color: #FF8C00;
    align-items: center;
    justify-content: space-between;
    height: 9.6rem;
    position: relative;
    align-items: center;
    padding: 0 4.8rem;
}

.logo {
    cursor: pointer;
    box-sizing: border-box;
}

.img {

    border-radius: 50%;
    border: 0px solid white;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    font-weight: 500;
}

.navItems a {
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    color: #fff;
    justify-content: space-between;
    padding-right: 40px;

}

/* Hover effect */
.navLink {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navLink:hover {
    opacity: 1;
    border-bottom: 3px solid#dbf788;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: ease-in-out;
}

/* 
.navLink::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 100%;
    right: 100%;
    width: 0%;
    height: 5px;
    background-color: #c9f02d;
    transition: width 0.3s ease-out, left 0.3s ease-out, transform 0.3s ease-out;
    transform: scaleX(1.1);
    transform-origin: right;
}

.navLink:hover::after {
    width: 100%;
    left: 0;
    transform: scaleX(1);
    transform-origin: left;
} */


.hamburgerBtn {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

/* Sticky navbar */
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 6.6rem;
    background-color: #fff;
    .navLink{
        color: #FF8C00;
    }
}

/* Add padding to body when navbar is sticky */
body.sticky-nav {
    padding-top: 6.6rem;
    /* set padding equal to navbar height */
}

/* Hamburger Menu */

@media only screen and (min-width: 1024px) {
    .navItems {
        display: flex;
        /* background-color: chartreuse; */
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        /* column-gap: 40px;
        padding-left: 42vw; */
        column-gap: 35px;
        padding-left: 25vw;
        letter-spacing: 1.2px;
        font-weight: 500;
    }

    .logo {
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .navItems a {
        font-size: 1.5rem;
    }

    /* .navItems {
        padding-right: 45px;
    } */


}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
    .navItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        /* padding-left: 285px;
        column-gap: 22px; */
        column-gap: 35px;
        padding-left: 20vw;
    }

    .logo {
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px 0px 0px 45px;
    }

    .img {

        border-radius: 50%;
        /* border: 0px solid white; */
    }

    .navItems a {
        font-size: 1.5rem;
        text-align: right;
        text-decoration: none;
        color: #fff;
        padding-right: 40px;

    }
}

/* Hamburger Menu */
@media only screen and (max-width: 989px) {
    .navItems {
        display: none;
    }

    .bar {
        background-color: #000;
    }

    .navbar {
        /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); */
        position: fixed;
        background-color: #FF8C00;

        height: 6.6rem;
        padding: 0 30px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .navItems {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        z-index: 998;
        transition: opacity 0.3s ease-in-out;
    }


    /* .show {
        padding-left: 400px;
        display: flex;
        flex-direction: column;
        text-align: right;
        order: 2;
        flex: 1;


    } */

    .navItems.show {
        opacity: 1;
        pointer-events: auto;
        /* font-size: 30px; */
    }

    .navLink {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        margin: 20px 0;
        text-align: center;
    }

    .hamburgerBtn.show {
        position: absolute;
        right: 20px;
    }

    .burgerLogo {
        display: none;
    }

    .hamburgerBtn {
        display: block;
        position: absolute;
        z-index: 999;
        cursor: pointer;
        background-color: transparent;
        /* width: 30px; */
        /* height: 22px; */
        /* padding-right: 40px; */
        right: 20px;
        margin-right: 10px;
        order: 1;
    }

    .bar {
        display: block;
        height: 3px;
        width: 45px;
        border: 2px solid #000;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transition: all 0s ease;
    }

    .hamburgerBtn span:nth-child(1) {
        top: 5px;
    }

    .hamburgerBtn span:nth-child(2) {
        top: 11px;
    }

    .hamburgerBtn span:nth-child(3) {
        top: 17px;
    }

    .hamburgerBtn.show span:nth-child(1) {
        transform: translate(0, 11px) rotate(45deg);
    }

    .hamburgerBtn.show span:nth-child(2) {
        opacity: 0;
    }

    .hamburgerBtn.show span:nth-child(3) {
        transform: translate(0, -11px) rotate(-45deg);
    }

    .show.close{
        margin-top: 6.6rem;
    }
}

@media only screen and (min-width: 799px) and (max-width: 988px) {
    .show a {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }
    .navItems a{
        font-size: 30px;
        padding: 0;

    }
}

@media only screen and (min-width: 569px) and (max-width: 798px) {
    .show a {
        font-size: 2rem;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }
    .navItems a{
        font-size: 28px;
        padding: 0;

    }
}

@media only screen and (min-width: 300px) and (max-width: 568px) {
    .show a {
        font-size: 2.3rem;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }
    .img {
        width: 60px;
        height: 60px;
    }
    .navItems a{
        font-size: 26px;
        padding: 0;

    }
}

@media only screen and (min-width: 230px) and (max-width: 300px) {
    .navbar{
        /* padding: 0; */
        padding-top: 20px !important;
        

    }
    .show a {
        font-size: 2rem;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }

    .img {
        width: 40px;
        height: 40px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        border: 2px solid #000;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transition: all 0s ease;
    }

  .img{
    width: 40px;
    height: auto;
    padding-bottom: 20px;
  }
    .logo {
        padding-left: 10px;
        
    }

    .hamburgerBtn {
        padding-bottom: 20px;
        margin-right: 0;
        right: 10px;
    }
    .navbar.sticky {
        padding: 0;
        height: 3rem;
    }

    .navbar {
        
        height: 3rem;
    }
    .navItems a{
        font-size: 24px;
        padding: 0;

    }
}

@media only screen and (min-width: 100px) and (max-width: 230px) {
    .img{
        width: 40px;
        height: auto;
      }
    .show a {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }

    .img {
        width: 30px;
        height: 30px;
    }

    .bar {
        display: block;
        width: 15px;
        height: 3px;
        margin: 5px;
        border: 2px solid #000;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transition: all 0s ease;
    }

    .navbar {
        padding: 0;
        padding-top: 35px;
    }

    .logo {
        padding-left: 10px;
    }

    .hamburgerBtn {
        margin-right: 0;
        right: 10px;
    }

    .navbar.sticky {
        padding: 0;
        height: 3rem;
    }

    .navbar {
       padding-bottom: 20px;
        height: 3rem;
    }
    .navItems{
        align-items: center;
    }
    .navItems a{
        font-size: 16px;
        padding: 0;

    }
}

